html, body {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    top: 0;
    position: absolute;

    height: 100%;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: row;
}

.card { 
    border-radius: 15px;
    padding: 10px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px); 
}

.card > h1 {
    text-align: center;
}

.dot {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.green {
    background-color: #6AF311;
}

.yellow {
    background-color: #FFFA12;
}

.red {
    background-color: #FF0000;
}

.msg {
    text-align: center;
    padding: 30px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.active {
    box-shadow: 6px 3px 2px 2px rgba(0,0,0,0.4);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}

h1.title {
    text-align: center;
    color: rgba(0,0,0,0.8);
}

h2.title {
    text-align: center;
    color: rgba(0,0,0,0.6);
}
